*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#181818
}
div{
    width: 200px;
    height: 200px;
    /* border: 2px solid white; */
    box-shadow: 16px 14px 20px #0000008C;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
div::before{
    content: "";
    background-image: conic-gradient(#1d04ff 120deg, transparent 120deg );
   width: 150%;
   height: 150%;
   position: absolute;
   animation: rotate 2s linear infinite;
}
div::after{
    content: "Animation";
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1d04ff;
    font-size: large;
    letter-spacing: 4px;
    box-shadow: inset 20px 20px 20px #0000008C;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}